<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">

<servlet>
	<servlet-name>controller</servlet-name>
	<servlet-class>Controller.MainController</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>controller</servlet-name>
	<url-pattern>/chat/*</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>login</servlet-name>
	<servlet-class>Controller.LogInOutController</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>login</servlet-name>
	<url-pattern>/loginout/*</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>fileManage</servlet-name>
	<servlet-class>Controller.FileManagerController</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>fileManage</servlet-name>
	<url-pattern>/fileManager/*</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>roMypage</servlet-name>
	<servlet-class>Controller.ReadOnlyMypageController</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>roMypage</servlet-name>
	<url-pattern>/read/*</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>search</servlet-name>
	<servlet-class>Controller.SearchController</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>search</servlet-name>
	<url-pattern>/search/*</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>permit</servlet-name>
	<servlet-class>Controller.PermitAdminController</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>permit</servlet-name>
	<url-pattern>/permit/*</url-pattern>
</servlet-mapping>










<servlet>
        <servlet-name>uploadtest</servlet-name>
        <servlet-class>UploadTest</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>uploadtest</servlet-name>
        <url-pattern>/ultest</url-pattern>
    </servlet-mapping>

</web-app>